@use '../../abstracts/variables' as variables;

.grouped-indicators-button {
    background-color: transparent;
    padding: 2px 5px;
    margin: 0 2px;
    border-radius: variables.$border-radius-standard;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: variables.$surface1;
    }

    .grouped-indicators-box {
        > button { // Celuje w NetworkIndicatorWidget, VolumeIndicatorWidget itp. wewnątrz
            background-color: transparent; // Usunięte !important
            padding: 0 2px;
            margin: 0;

            &:hover {
                background-color: transparent; // Usunięte !important
            }

            > icon {
                font-size: 16px;
            }

            .battery-percentage-label { // Jeśli jest widoczny w GroupedIndicators
                font-size: 11px;
                margin-left: 1px;
            }
        }
    }
}