// css/widgets/Popups/_volumesliderpopup.scss
// @use '../../abstracts/variables' as variables;

// .volume-popup-window {
//     background-color: variables.$surface0;
//     color: variables.$foreground;
//     border-radius: variables.$border-radius-standard;
//     border: 1px solid variables.$surface1;
// }

// .volume-popup-content {
//     padding: 12px;
//     min-height: 40px;

//     .popup-mute-button {
//         // ...
//     }

//     .volume-slider {
//         // ...
//     }
// }