$background: #1e1e2e;
$foreground: #cdd6f4;
$surface0: #313244;
$surface1: #45475a;
$surface1-lightened: #525567;
$blue: #89b4fa;
$mauve: #cba6f7;

// Możesz tu dodać inne zmienne, np. dotyczące czcionek, zaokrągleń itp.
// $font-family-main: 'Twoja Ulubiona Czcionka', sans-serif;
$border-radius-standard: 6px;
