@use '../../abstracts/variables' as variables;


.cpu-usage-indicator {
    color: variables.$foreground;
    font-size: 14px;
    padding: 0 4px;

    icon {
        font-size: 16px;
        // color: variables.$mauve; // Odkomentuj, jeśli chcesz specyficzny kolor
    }

    label {
        margin-left: 4px;
    }
}